# Clerk
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Prisma Postgres
DATABASE_URL=

# UploadThing Appointment Photos
UPLOADTHING_TOKEN=
EXPO_PUBLIC_UPLOADTHING_APP_ID=
EXPO_PUBLIC_UPLOADTHING_URL=
